img {
  max-width: 100%;
}

@font-face {
  font-family: "Sw";
  src: local("Sw"), local("Sw"), url("../fonts/sw.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "Sw";
  background: #474747;
}

.logo {
  max-width: 200px;
  margin: 0 auto;
}

#root {
  max-width: 1200px;
  padding: 25px 15px;
  margin: 0 auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.col-left {
  max-width: 300px;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin: 0 10px 0 0;
}

.col-left ul {
  padding: 0;
  list-style: none;
  margin: 15px 0 0 0;
}

.col-left ul a {
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  color: #000;
}

.col-left li {
  background: #d5d5d5;
  border-radius: 5px;
  margin: 0 0 5px 0;
  cursor: pointer;
  transition: 0.3s;
}

.col-left li:hover {
  background: rgba(0, 0, 0, 0.5);
}

.col-left p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 15px 0;
}

.col-right {
  max-width: 700px;
  flex-grow: 1;
}

.search {}

.col-right input {
  border: none;
  width: 100%;
  padding: 12px 75px;
  border-radius: 5px;
  box-sizing: border-box;
  letter-spacing: 3px;
  background: #fff url("../img/search.png") no-repeat 20px center;
  background-size: 23px 23px;
}

.persons {
  padding: 0px;
  list-style: none;
  margin: 10px 0 0 0;
}

.persons-item {
  position: relative;
  cursor: pointer;
}

.persons-item:not(:last-child) {
  margin: 0 0 10px 0;
}

.persons-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/arrow.png") no-repeat center center;
}

.persons-item a {
  display: block;
  color: #474747;
  background: #d5d5d5;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
}

.persons-item a:hover {
  background: rgb(131, 131, 131);
}

.person-card {
  background: #D5D5D5;
  max-width: 860px;
  margin: 0 auto;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 25px;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.info-item {
  display: flex;
}

.info-item:not(:last-child) {
  border-bottom: 2px solid grey;
}

.info-item p {
  font-size: 24px;
  width: 250px;
  margin-right: 20px;
}

.info-item p:first-child {
  color: #474747;
}

.back {
  display: block;
  max-width: 200px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  background: #C4C4C4;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 30px;
  border-radius: 5px;
  margin: 10px auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}

.back:hover {
  background: rgb(150, 150, 150);
}

.search-wrong {
  font-size: 12px;
  text-align: center;
  margin: 5px 0;
  color: #ff0000;
}

.col-left .empty {
  font-size: 14px;
  color: #000;
}