img {
  max-width: 100%;
}

@font-face {
  font-family: "Sw";
  src: local("Sw"), local("Sw"), url("../fonts/sw.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "Sw";
  background: #474747;
}

.logo {
  max-width: 200px;
  margin: 0 auto;
}

#root {
  max-width: 1200px;
  padding: 25px 15px;
  margin: 0 auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.col-left {
  margin: 0 10px 0 0;
}

.col-right {
  max-width: 700px;
  flex-grow: 1;
}
